In [2]:
s1 = "My string"

In [3]:
s1

'My string'

In [4]:
s2 = 'My string'

In [5]:
s2

'My string'

In [6]:
s3 = '''Isso é uma string      

longa 
           longa'''

In [7]:
s3

'Isso é uma string      \n\nlonga \n           longa'

In [8]:
teste = 'Isso e um "teste" ok?'
teste

'Isso e um "teste" ok?'

In [9]:
teste = "carro's"
teste

"carro's"

In [15]:
one = "Hudson Martins\
 da Silva\
 - Data Engineer"
one

'Hudson Martins da Silva - Data Engineer'

In [17]:
s1 = "João"
s2 = "Paulo"

full = s1 + " " + s2 
full

'João Paulo'

In [20]:
s = "bazinga"  
s0 = s[2:6]
s1 = s[-5:-1]
print(s0)

print(s1)

zing
zing

In [21]:
lst = ['Animals', 'Badger', 'Honey Bee', 'Honey Badger']

lst1 = []
lst2 = []

for i in lst:
    lst1.append(i.lower())
    print(i.lower())
    lst2.append(i.upper())
    print(i.upper())
    
print(f"list1: {lst1}")
print(f"list2: {lst2}")

animals
ANIMALS
badger
BADGER
honey bee
HONEY BEE
honey badger
HONEY BADGER
list1: ['animals', 'badger', 'honey bee', 'honey badger']
list2: ['ANIMALS', 'BADGER', 'HONEY BEE', 'HONEY BADGER']

In [22]:
string1 = "    Filet Mignon"
string2 = "Brisket    "
string3 = "    Cheeseburger    "

In [26]:
string1

'    Filet Mignon'

In [27]:
string2

'Brisket    '

In [28]:
string3

'    Cheeseburger    '

In [23]:
print(string1.lstrip())

Filet Mignon

In [24]:
print(string2.rstrip())

Brisket

In [25]:
print(string3.strip())

Cheeseburger

In [29]:
string1 = "Becomes"
string2 = "becomes"
string3 = "BEAR"
string4 = "   bEautiful"

In [30]:
print(string1.startswith("be"))

False

In [31]:
print(string2.startswith("be"))

True

In [32]:
print(string3.startswith("be"))

False

In [33]:
print(string4.startswith("be"))

False

In [34]:
print(string1.lower().startswith("be"))

True

In [36]:
print(string2.startswith("be"))

True

In [37]:
print(string3.lower().startswith("be"))

True

In [38]:
print(string1.lstrip().lower().startswith("be"))

True

In [39]:
entrada = input("Digite algo:")
print(entrada.lower())
print(f"numbers of caracteres: {len(entrada)}")

minha entrada
numbers of caracteres: 13

In [40]:
pwd = input("Tell me your password: ")

print(f"The first letter you entered was: {pwd[0].upper()}")

The first letter you entered was: N

In [41]:
n1 = input("Digite o primeiro numero: ")
n2 = input("Digite o segundo numero: ")

print(f"The product of {n1} and {n2} is {float(n1) * float(n2)}.")

The product of 2 and 4 is 8.0.

In [43]:
weight = 0.2
animal = "newt"

print(str(weight) + " kg is the weight of the " + animal + ".")

0.2 kg is the weight of the newt.

In [44]:
print("{} kg is the weight of the {}.".format(weight, animal))

0.2 kg is the weight of the newt.

In [45]:
print(f"{weight} kg is the weight of the {animal}.")

0.2 kg is the weight of the newt.

In [46]:
"AAA".find('a')

-1

In [47]:
print("Somebody said something to Samantha.".replace("s", "x"))

Somebody xaid xomething to Samantha.

In [49]:
user = input("Digite algo: ")
print(f"Trying to find 'n' in the input {user}, result: {user.find('n')}")

Trying to find 'n' in the input Hudson, result: 5

In [51]:
text = input("Enter some text:")
print(f"original: {text}")
text = text.replace('a', '4')
text = text.replace('b', '8')
text = text.replace('e', '3')
text = text.replace('l', '1')
text = text.replace('o', '0')
text = text.replace('s', '5')
text = text.replace('t', '7')
print(f"alterado: {text}")

original: Hudson Silva
alterado: Hud50n Si1v4

In [53]:
text = input("Enter some text:")
print(f"original: {text}")
text = text.replace('a', '4')\
    .replace('b', '8')\
    .replace('e', '3')\
    .replace('l', '1')\
    .replace('o', '0')\
    .replace('s', '5')\
    .replace('t', '7')
print(f"alterado: {text}")

original: João Silva
alterado: J0ã0 Si1v4

In [54]:
2

2

In [55]:
-3

-3

In [56]:
2.0

2.0

In [57]:
-3.14

-3.14

In [58]:
True

True

In [59]:
False

False

In [60]:
1 + 2j

(1+2j)

In [61]:
-1.0 + 4j

(-1+4j)

In [66]:

type(2j)

complex

In [63]:
type(True)

bool

In [64]:
type(-1.0)

float

In [65]:
type(-1)

int

In [67]:
int('101010', 2)

42

In [68]:
int('2A', 16)

42

In [69]:
int('52', 8)

42

In [70]:
oct(42)

'0o52'

In [71]:
hex(42)

'0x2a'

In [72]:
bin(42)

'0b101010'

In [73]:
.25

0.25

In [75]:
2_25

225

In [76]:
42.

42.0

In [77]:
2**3

8

In [78]:
5/2

2.5

In [79]:
5//2

2

In [80]:
5%2

1

In [81]:
3 // 2

1

In [82]:
-3/2

-1.5

In [83]:
-3//2

-2

In [84]:
format(2, ".3f")

'2.000'

In [86]:
numero = 3.141516
print(f"{numero:.3f}")

3.142

In [87]:
round(3.141516)

3

In [88]:
round(3.141516, 1)

3.1

In [89]:
round(3.141516, 3)

3.142

In [90]:
complex(3, 2)

(3+2j)

In [91]:
abs(-3.14)

3.14

In [93]:
pow(5, 2)

25

In [94]:
pow(4, .5)

2.0

In [95]:
4**.5

2.0

In [96]:
format(5000.153994, ",.3f")

'5,000.154'

In [98]:
x  = 5 + 2j

In [99]:
x.real

5.0

In [100]:
x.imag

2.0

In [101]:
x.conjugate()

(5-2j)

In [102]:
num1 = 25000000
num2 = 25_000_000
print(f"num 1: {num1}")
print(f"num 2: {num2}")

num 1: 25000000
num 2: 25000000

In [103]:
type(num2)

int

In [105]:
num = 1.75e10
print(num)

17500000000.0

In [106]:
2e308

inf

In [107]:
2e307

2e+307

In [114]:
x = format(3**.125, ".3f")
x

'1.147'

In [110]:
print(f"{3**.125:.3f}")

1.147

In [115]:
type(f"{3**.125:.3f}")

str

In [118]:
x = "$"+ format(150000, ",.2f")
type(x)

str

In [119]:
x

'$150,000.00'

In [130]:
x = format(2/10, ".0%")
x

'20%'

In [131]:
base = int(input("Digite a base: "))
expoente = int(input("Digite o expoente: "))
print(f"result: {base ** expoente}")

result: 100

In [132]:
num = input("Enter a number: ")
print(f"{num} rounded to 2 decimal places is {round(float(num), 2)}")

5.432 rounded to 2 decimal places is 5.43

In [133]:
num = float(input("Enter a number: "))
print(f"The absolute value of {num} is {abs(num)}")

The absolute value of -10.0 is 10.0

In [138]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))
print(f"The difference between {num1} and {num2} is an integer? {(num1 - num2).is_integer()}")

The difference between 1.0 and 0.5 is an integer? False

In [143]:
def soma(a: int, b: float):
    """Sum two numbers"""
    return a+b

In [144]:
help(soma)

Help on function soma in module __main__:

soma(a: int, b: float)
    Sum two numbers

In [147]:
soma(.1, .22)

0.32

In [148]:
x = -1
while x < 5:
    print(x)
    x +=1

-1
0
1
2
3
4

In [151]:
for l in 'Hudso':
    print(l)

H
u
d
s
o

In [156]:
for i in range(3, 5):
    print(i)

3
4

In [2]:
def greet(name: str) -> None:
    print(f"Hello, {name}!")


greet("Hudson")

Hello, Hudson!

In [3]:
def cube(num: float) -> float:
    return(num * num * num)

In [4]:
cube(2)

8

In [14]:
def convert_cel_to_far() -> None:
    temp = float(input("Enter the Celsius temperature to convert"))
    convert = temp * (9/5) + 32
    print(f"The Fahrenheit temperature is: {convert:.2f}")

In [16]:
def convert_far_to_cel() -> None:
    temp = float(input("Enter the Fahrenheit temperature to convert"))
    convert = (temp - 32) * (5/9)
    print(f"The Celsius temperature is: {convert:.2f}")

In [15]:
convert_cel_to_far()

The Fahrenheit temperature is: 98.60

In [17]:
convert_far_to_cel()

The Celsius temperature is: 22.22

In [18]:
for i in range(2, 11):
    print(i)

2
3
4
5
6
7
8
9
10

In [23]:
def doubles(num: int) -> None:
    result = num
    for i in range(3):
        result = result * 2
        print(result)

In [25]:
doubles(2)

4
8
16

In [26]:
def invest(amount: float, rate: float, years: int) -> None:
    for i in range(years):
        amount = amount + (amount * rate)
        print(f"Year {i+1}: ${amount:.2f}")

In [28]:
invest(100, .05, 4)

Year 1: $105.00
Year 2: $110.25
Year 3: $115.76
Year 4: $121.55